<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">

<head>
    <title>Just-Reviews</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "reviews/assets/plugins/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "reviews/assets/css/main.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <body onload="addtime();">

        
        <header class="head">

            <div class="page-header">
                <div class="topmost__box-sign-up">
                    <a href="/reviews/">
                        <h1>  Just-Reviews
                            <small>
                                <br> 
                                <h2>
                                    No. 1 reviews landing in Nigeria
                                </h2>
                            </small>
                        </h1>
                    </a>

                    <div class="authenthication pull-right">
                    
                {% if user.is_authenticated %}
                        <a href="#" class="sign-up usernameref">
                            <button class="btn btn-primary first-button">Welcome {{user.username}}</button>
                        </a>
                        <a href="/reviews/signout" class="sign-in">
                            <button class="btn btn-primary second-button">Sign-out</button>
                        </a>

                {% else %}

                        <a href="/reviews/signup" class="sign-up">
                                <button class="btn btn-primary first-button">Sign up</button>
                        </a>
                        <a href="/reviews/signin" class="sign-in">
                            <button class="btn btn-primary second-button">Sign-in</button>
                        </a>
                    
                {% endif %}

                    <div class="pic " style="position:relative; top:110%; left:-22%;" >

                        <a href="#">
                            <div class="avatar pull-right" >
                            <img style=" border-radius:20%; height:60px; width:60px;" src="{{user.user.image.url}}" alt="image here">
                            </div>
                        </a>
                    </div>
                    </div>
                </div>
                <div>
                    
                    
                    <form id="SearchForm" method="get" action="/reviews/search/"
                    enctype="multipart/form-data">
                    
                    <div class="input-group">
                        
                        
                        <input class="form-control" placeholder="Product" type="text" name="name" maxlength="128" required id="id_name" />
                        
                        <span class="input-group-btn">
                            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                        </span>
                        
                    </div>

                    </form>
                    
                </div>
            </div>


        </header>
        <div class="container ">

            

            <main>
                <!---review AD-->

                <div class="help-reviews">
                        <div>
                                <img src="{% static "reviews/assets/img/write_review.png" %}" alt="help-image">
                        </div>
    
                        <div class="u-space-l4">
                            <h2 class="alternate u-space-b3"><font face = "Comic sans MS" size =" 5">Help the Community</font><br /></h2>
    
                            <p class="u-space-b3">
                                Find Just-reviews helpful? Start helping others by sharing your experience.
    
                            </p>
                            <a href="#" class="sign-up">
                                <button class="btn btn-primary first-button">Write a review now</button>
                            </a>
                            <a href="#" class="sign-up">
                                <button class="btn btn-primary first-button">Share a new product</button>
                            </a>
                        </div>
                    </div>
        
                <!---review AD-->
                <hr>
                <!---reviews display-->
                <div class="first-container">
                <div class="trending">
                    <p>
                        <span>
                            <h3>
                                LOGIN TO JUST REVIEWS
                            </h3>
                            
                        </span>

                    </p>
                </div>

                <div class="container2">
                        <hr>
                        
        
                        <hr>
        
                        <div class="container2">
                            <div class="row" style="display:flex; color :rgb(148, 148, 148); padding-top:10px; justify-content:center; box-shadow: 0px 1px 2px #888888;">
                                <div class="container2 col-md-4" style="border-right: 1px solid rgb(202, 202, 202);">
                                    <p >
                                        <h3 style="display:flex; color :rgb(148, 148, 148);  justify-content:center;">Sign-in</h3>
                                    </p>
                                    <form method="POST" action="/reviews/signin/" >
                                        {% csrf_token %}
                                        <p>
                                            <input class="form-control" placeholder="Username" type="text" name="username">
                                        </p>
                                        <p>
                                            <input class="form-control" placeholder="Password" type="password" name="password">
                                        </p>
        
                                        <p>
                                            <button style="width:100%;" class="btn btn-primary" type="submit">Login</button>
                                        </p>
                                    </form>
                                </div>
                                <div class="container2 col-md-4" style="border-left: 1px solid rgb(226, 226, 226);" >
                                        <p >
                                            <h3 style="display:flex; color :rgb(148, 148, 148);  justify-content:center;">Sign-up</h3>
                                        </p>
                                    <form method="POST" action="/reviews/signup/" enctype="multipart/form-data">
                                        {% csrf_token %}                                
                                        <p>
        
                                            <input class="form-control" type="text" name="last_name" placeholder="Last Name" maxlength="10" required id="id_last_name" />
                                        </p> 
        
                                        <p>
                                            <input class="form-control" type="text" name="first_name" placeholder="First Name"  maxlength="10" required id="id_first_name" />
                                        
                                        </p>
                                        
                                        <p>
                                            <input class="form-control" type="text" name="username" placeholder="UserName"  maxlength="10" required id="id_username" />
                                        </p> 
                                        
                                        <p>
                                            <input class="form-control" type="email" name="email" placeholder="E-mail" maxlength="20" required id="id_email" />
                                        </p>
                                        
                                        <p>
                                            <input class="form-control" type="password" name="password" placeholder="Password" maxlength="256" required id="id_password" />
                                        </p> 
                                        
                                        <p>
                                            <input class="form-control" type="password" name="password" placeholder="Retype Password" maxlength="256" required id="id_password" />
                                        </p>
        
                                        <p>
                                            Profile image<input type="file" name="image" id="id_image"> 
                                        </p>
                                        
                                        <p>
                                            <button style="width:100%;" class="btn btn-primary" type="submit">Add me to Just-Reviews</button>
                                        </p>
                                        
                                    </form>
                                    {% for error in error %} 
                                    <div style="color: red">
                                        <ul>
                                            <li>{{error}}</li>
                                        </ul>
                                    </div>
                                    {% endfor%}
                                </div>
                        </div>
                        
                <!-- latest post ends here -->

            </main>

           
           <hr>
        </div>

        <footer>
            <div class="footer__container">
                
                <div class="right-side side__hold">
                    <div class="social-media">
                        <a href="#">
                            <img src="{% static "reviews/assets/img/icons/instagram.png" %}" alt="">
                            <span class="icon-username">
                                @Just-Reviews
                            </span>
                        </a>

                        <a href="#">
                            <img src="{% static "reviews/assets/img/icons/twitter.png" %}" alt="">
                            <span class="icon-username">
                                @Just-Reviews
                            </span>
                        </a>

                        <a href="#">
                            <img src="{% static "reviews/assets/img/icons/facebook.png" %}" alt="">
                            <span class="icon-username">
                                  . facebook.com/justreview
                            </span>
                        </a>
                    </div>
                    
                    <div >
                        <div class="address-bar">
                            <h4>Just-Reviews.NG </h4>
                        </div>
                        <div class="address-bar">
                            Lekki - Epe Expy, Ajah, Lagos, Nigeria
                        </div>
                    </div>

                </div>

            </div>
        </footer>

     

        
    <script src="{% static "reviews/assets/js/like.js" %}"></script>   
    </body>

</html>